.nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  background: linear-gradient(0.45turn, #a33fa6, #ebf8e1, #f6863c);
  width: 100%;
  box-shadow: 4px 4px 4px rgb(90, 90, 90);
}

.active {
  border-bottom: 2px solid black;
}
